<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpSSL" value="true" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpLogin" value="tim45250@gmail.com" />
    <add key="SmtpPassword" value="aoe3aoe3" />
    <add key="MailFrom" value="noreply@unitgroup.ru" />
    <add key="AppHost" value="http://localhost:31340"/>
    <add key="FakeMailTo" value="tim452@yandex.ru" />
  </appSettings>
  <connectionStrings>
    <add name="TenderProccessing" connectionString="Data Source=SQL5014.Smarterasp.net;Initial Catalog=DB_9BB7EE_tenderProcessing;User Id=DB_9BB7EE_tenderProcessing_admin;Password=aoe3aoe3;" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>