
@model SpeCalcDataAccessLayer.Models.SpecificationPosition
<td>
    <span modetype="calculateCatalogNumberValueLabel"></span>
</td>
<td>
    <span modetype="calculateNameValueLabel"></span>
    <br />
    <span modetype="calculateReplaceValueLabel"></span>
</td>
@*<td>
        <span modetype="calculateReplaceValueLabel"></span>
    </td>*@
<td>
    <span class="small" name="priceOnlineInfo"></span>
</td>
<td>
    <span modetype="calculatePriceUsdValueLabel"></span>
</td>
<td>
    <span modetype="calculatePriceEurValueLabel"></span>
</td>
<td>
    <span modetype="calculatePriceEurRicohValueLabel"></span>
</td>
<td>
    <span modetype="calculatePriceRublValueLabel"></span>
</td>
<td>
    <span modetype="calculateProviderValueLabel"></span>
</td>
<td>
    <span modetype="calculateDeliveryTimeValueLabel"></span>
</td>

<td>
    <span modetype="calculateProtectFactValueLabel"></span>
</td>
<td>
    <span modetype="calculateProtectConditionValueLabel"></span>
</td>
<td>
    <span modetype="calculateCommentValueLabel"></span>
</td>