
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetListExcelFile</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        var message = "@ViewBag.Message.ToString()";

        $(init);


        function init() {
            var target = getTargetOrigin();
            var obj = {
                type: "DownloadExcel",
                error: true,
                message: message
            };
            window.top.postMessage(JSON.stringify(obj), target);
        }

        function getTargetOrigin() {
            var protocol = document.location.protocol;
            var url = document.location.href;
            url = url.replace(protocol + "//", "");
            var index = url.indexOf("/");
            url = url.substr(0, index);
            url = protocol + "//" + url;
            return url;
        }
    </script>

</head>
<body>
    <div> 
    </div>
</body>
</html>
