
@model SpeCalcDataAccessLayer.Models.SpecificationPosition

<td posdt='1' class="center min-width" rowspan="1">
    <input type="checkbox" modetype="selectPositionElement" />
</td>
<td posdt='1' class="min-width" rowspan="1">
    <strong modetype="rowNumber"></strong>
    <div type="posState2" class="text-warning hidden">
        <i class="fa fa-send-o" title="отправлена менеджеру для подтверждения"></i>
    </div>
    <div type="posState3" class="text-danger hidden">
        <i class="fa fa-warning" title="расчет позиции отклонен менеджерем"></i>
    </div>
    <div type="posState4" class="text-success hidden">
        <i class="fa fa-check" title="расчет позиции подтвержден менеджерем"></i>
    </div>
    <div type="posActualize" class="text-danger hidden">
        <i class="fa mail-forward" title="актуализация"></i>
    </div>
</td>
<td posdt='1' class="min-width" rowspan="1"><div type='catalogNumberLabel'></div></td>
<td posdt='1' class="min-width" rowspan="1">
    <div type='nameLabel'></div>
    <div type="commentLabel"></div>
</td>
<td posdt='1' class="min-width" rowspan="1">
    <span type='valueLabel'></span>&nbsp;<span type='unitLabel'></span>
</td>
<td posdt='1'><div type='productManagerLabel'></div></td>
<td colspan="12" class="positionsPlaceHolder"></td>