

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}



body {
   background: #B4B4B4 url(../Content/images/bg3.png) repeat left top;
}

.body-content {
    background: #eee;
    padding-top: 25px;
}

.body-content {
    box-shadow: 0 0 10px #666;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.navbar {
    box-shadow: 0 0 25px #333;
    margin-bottom: 0px !important;
}

.navbar-brand {
    padding-top: 3px;
}

.navbar-brand div {
    padding: 3px 0 0 8px;
    margin: 0;
}

.brand-prefix {
    padding-top: 5px;
}

.headLogo {
    display: block;
    height: 25px;
    padding-left: 10px;
}

.val-form .required-mark:before {
    content: '* ';
    color:  red;
    font-size: 1.2em;
}

.datepicker-btn {
    cursor: pointer !important; 
}

#filter .panel-heading {
    cursor: pointer;
}

#filter .panel-title .title:after {
    font-family: 'Glyphicons Halflings';
    content: "\e113";
    float: right;
    color: #999;   
}
#filter .collapsed .title:after {
    content: "\e114";
}

#filter .panel-title:after {
    content: "скрыть фильтр";
}

#filter .collapsed:after {
    content: "показать фильтр";
}

#filterPanel {
    background: #eee;
}