@model IEnumerable<SpeCalcDataAccessLayer.ProjectModels.ProjectFileModel>

@foreach (var file in Model)
{
    <li>
        <a class="btn btn-link btn-xs no-pad text-danger-important" name="deleteFile" fguid="@file.FileGUID" pid="@file.ProjectId"><i class="fa fa-trash-o"></i></a>
        v.@file.VersionNumber&nbsp;<a href="@Url.Action("GetFileData")?guid=@file.FileGUID.ToString()&pid=@file.ProjectId" target="_blank"><small>@file.FileName</small></a>
    </li>
}
