<tr class="bg-primary">
    <th class="min-width  text-center">
        <input type="checkbox" id="positionsCheckAll" data-toggle="tooltip" title="все" />
    </th>
    <th class="text-center min-width"></th>
    <th class="min-width"></th>
    <th style="width: 150px;">Каталожный номер</th>
    <th style="width: 150px;">Вендор</th>
    <th style="width: 350px;">Запрос</th>
    <th style="width: 50px;">Количество</th>
    <th style="width: 50px;">Единицы</th>
    <th style="width: 150px;">Кому</th>
    <th>
        Расчетов
    </th>
    <th class="min-width">
        @*<button type='button' id='btnEditAll' class='btn btn-default' data-toggle='tooltip' title='режим резактирования'><i class='fa fa-edit'></i></button>
        <button type='button' id='btnEditAllCancel' class='btn btn-default' data-toggle='tooltip' title='отмена редактирования' style="display: none"><i class='fa fa-undo'></i></button>*@
    </th>
    
    <th style="width: 120px;" calcol="calcol">Каталожный номер</th>
    <th style="width: 200px;" calcol="calcol">Ответ</th>
    <th style="width: 80px;" calcol="calcol">Цена</th>
    <th style="width: 50px;" calcol="calcol">Валюта</th>
    <th calcol="calcol">Рекомендованная цена</th>
    <th secol="secol" calcol="calcol">Поставщик</th>
    <th calcol="calcol">Срок поставки</th>
    
    <th secol="secol" calcol="calcol">Факт защиты</th>
    <th secol="secol" calcol="calcol">Условия защиты</th>
    <th secol="secol" calcol="calcol">Комментарий</th>
    <th calcol="calcol" class="min-width">
        @*<button type='button' id='btnSaveAllCalc' class='btn btn-success ' data-toggle='tooltip' title='сохранить все' cpid="@Model.Id" style="display: none"><i class='fa fa-save'></i></button>*@
    </th>
    
</tr>
