@using SpeCalc.Helpers
@using SpeCalcDataAccessLayer.Models
<tr name="newpos">
    <td name="pos" class="min-width text-center" rowspan="1">
    </td>
    <th name="pos" rowspan="1" class="text-center">
    </th>
    <th name="pos" rowspan="1">
        <button type="button" name="createWork" class="btn btn-success btn" data-toggle="tooltip" title="сохранить"><i class="fa fa-save"></i></button>
        <button type="button" name="createWorkCancel" class="btn btn-default btn" data-toggle="tooltip" title="отмена"><i class="fa fa-undo"></i></button>
    </th>
    <td name="pos" rowspan="1">
        <textarea name="WorkName" class="form-control  input-xs" value="" rows="3"></textarea>
    </td>
    <td name="pos" rowspan="1">
        <input name="WorkQuantity" class="form-control  input-xs" value=""/>
    </td>
    <td name="pos" rowspan="1">
        @foreach (var qu in ProjectHelper.GetWorkQuantityUnitList())
        {
            <div><input name="WorkQuantityUnit" type="radio" value="@qu.Id" /> @qu.Name</div>
        }
    </td>
    <td name="pos" rowspan="1" class="text-nowrap">
        @Html.DropDownList("Calculator", new SelectList(UserHelper.GetProductManagersList(), "Key", "Value"), "--выберите--", new {@class="form-control input-xs"})
    </td>
    <td name="pos" rowspan="1">
        
    </td>
    <td name="pos" rowspan="1"></td>
    @Html.Partial("WorkCalculationEmpty")


</tr>

