.bodyShadow {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(210, 210, 210);
    opacity: 0.5;
}

.messageUiBox {
    z-index: 1500;
    display: inline-block;
    position: fixed;
    top: 200px;
    left: 37%;
    width: 26%;
    background-color: rgb(251, 172, 159);
    border: 1px solid black;
    padding: 8px 30px 8px 30px;
    text-align: center;
}

.messageUiOkButton {
    display: inline-block;
    padding: 4px 6px 4px 6px;
    background-color: rgb(120, 150,230);
    font-weight: bold;
    margin: 4px;
    cursor: pointer;
    text-align: center;
    width: 80px;
}

.progressImg {
    display: inline-block;
}

.progressWrapper {
    position: fixed;
    z-index: 1500;
    display: block;
    width: 20%;
    text-align: center;
    left: 40%;
    top: 200px;
}
