@{
    bool IsTransneft = ViewBag.ClaimType != null && ViewBag.ClaimType == "TRANS";
}
@if (IsTransneft)
{
    <td name="calc" cpid="null" secol="secol"></td>
}

<td name="calc" cpid="null"></td>
@if (IsTransneft)
{
    <td name="calc" cpid="null"></td>
    <td name="calc" cpid="null"></td>
}
else
{
    <td name="calc" cpid="null"></td>
}
<td name="calc" cpid="null"></td>
<td name="calc" cpid="null"></td>
<td name="calc" cpid="null"></td>
<td name="calc" cpid="null"></td>
<td name="calc" cpid="null"></td>
<td name="calc" cpid="null" secol="secol"></td>
<td name="calc" cpid="null"></td>
<td name="calc" cpid="null" secol="secol"></td>
<td name="calc" cpid="null" secol="secol"></td>
<td name="calc" cpid="null" secol="secol"></td>
<td name="calc" cpid="null"></td>